$enable-responsive-font-sizes: true;
@import "../node_modules/bootstrap/scss/bootstrap";

html,
body {
    height: 100%;
}

.numb {
    text-align: center;
    font-family: "Roboto";
    color: #ffffff;
}

.numbDetails {
    opacity: 0.3;
    text-align: center;
}

#app {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    //background: #292929;
}

@media (prefers-color-scheme: light) {
    #app {
        background:radial-gradient(50% 50% at 50% 50%,#ff9560 0,#ff6651 100%);
    }
}

@media (prefers-color-scheme: dark) {
    #app {
        background: #313131;
    }
}

.snow {
    width: 100%;
    max-width: 323px;
    height: 100%;
    max-height: 230px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("./images/snow.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    transition: 0.6s;
}

.snow-zsemle-logo {
    width: 23px;
    height: 32px;
    position: absolute;
    bottom: 0;
    right: 0;
    right: 10%;
    bottom: 10%;
    background-image: url(./images/logo/logo.svg);
    background-repeat: no-repeat;
    transition: 0.6s;
}

@include media-breakpoint-down(sm) {
    .snow {
        max-width: 186px;
        max-height: 132px;
    }
    .snow-zsemle-logo {
        width: 16px;
        height: 24px;
    }
}

.emoji {
    width: 2.5em;
    height: 2.5em;
    margin: 0 15px;
}

.counter-row {
    padding: 100px 0;
}
