$enable-responsive-font-sizes: true;
@import "../node_modules/bootstrap/scss/bootstrap";

html,
body {
    height: 100%;
}

.numb {
    text-align: center;
    font-family: "Roboto";
    color: #ffffff;
}

.numbDetails {
    opacity: 0.3;
    text-align: center;
}

#app {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(50% 50% at 50% 50%, #ff9560 0%, #ff6651 100%);
}

.snow {
    width: 100%;
    max-width: 432px;
    height: 100%;
    max-height: 307.62px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("./images/snow.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

@include media-breakpoint-down(sm) {
    .snow {
        max-width: 261.21px;
        max-height: 186px;
    }
}

.snow-zsemle-logo {
    width: 28px;
    height: 39px;
    position: absolute;
    bottom: 0;
    right: 0;
    right: 10%;
    bottom: 10%;
    background-image: url(./images/logo/logo.svg);
}

.emoji {
    width: 2.5em;
    height: 2.5em;
    margin: 0 10px;
}

.counter-row {
    padding: 100px 0;
}
